.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 413px;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  transition: background-image 0.5s linear, opacity 0.5s ease-in-out;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url(/images/like_icon_liked.svg);
  opacity: 100%;
}

.card__like-btn_liked:hover {
  background-image: url(/images/like_icon_liked-hover.svg);
  opacity: 100%;
}

.card__delete-btn {
  background: url(/images/delete-btn.svg) center no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  height: 32px;
  width: 32px;
  border-radius: 16px;
  border: none;
  position: absolute;
  margin-top: 10px;
  margin-left: 371px;
}

.card__delete-btn:hover {
  background-color: rgba(255, 101, 101, 1);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__delete-btn {
    margin-left: 246px;
  }
}
