.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: center;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../images/close.svg);
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 40%;
  transition: opacity 0.5s ease-in-out;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  border-width: 1px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  transition: border-color 0.5s ease-in-out;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input_type_error:hover {
  border: 1px solid rgba(255, 0, 0, 1);
}

.modal__error {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 500;
  font-size: 16px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__submit-btn_type_disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.modal__submit-btn_type_disabled:hover {
  opacity: 50%;
  cursor: not-allowed;
}

.modal__content {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__image-container {
  display: flex;
  flex-direction: row-reverse;
}

.modal__image {
  margin-bottom: 0px;
  margin-right: 0px;
  max-height: 80vh;
  max-width: 80vw;
  border-radius: 8px;
}

.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  margin-top: 8px;
  border-radius: 8px;
  max-width: fit-content;
}

.modal__close-btn_type_preview {
  background-image: url(/images/close-light.svg);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  top: 0;
  right: -12.5px;
  margin: 0;
  padding: 0;
  opacity: 100%;
  transition: opacity 0.5s linear;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .modal__image {
    max-width: 90vw;
  }

  .modal__caption {
    font-size: 16px;
  }

  #modal-preview {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__close-btn_type_preview {
    top: -8px;
    right: -16px;
  }
}
